.nav {
    background-color: firebrick;
}
.nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

.nav-list .nav-list-item {
    padding: 0.75rem;
    font-size: 1.25rem;
}

.nav-list .nav-list-item:first-child {
    display: none;
}

.nav-list .nav-list-item a {
    color: seashell;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .nav-list {
        justify-content: center;
    }

    .nav-list .nav-list-item:first-child {
        display: inline;
    }

    .nav-list .nav-list-item:nth-child(n+2) {
        display: none;
    }
}