.banner {
    width: 100%;
    height: 25rem;
    background-image: url('../../images/moto.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.banner .banner-card {
    position: relative;
    top: 9rem;
    width: 20rem;
    height: auto;
    padding: 2rem 3rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.banner .banner-card .banner-card-header {
    font-size: 1rem;
    font-weight: bold;
}

.banner .banner-card .banner-card-body {
    margin-top: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .banner {
        height: 15rem;
    }

    .banner .banner-card {
        top: 10rem;
        width: 100%;
        padding: 1rem 2rem;
    }

    .banner .banner-card .banner-card-header {
        font-size: 0.77rem;
    }

    .banner .banner-card .banner-card-body {
        font-size: 1rem;
    }
}