.goods {
    width: 30%;
    border: 4px solid black;
}

.goods .goods-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    margin: 2rem 0;
}

.goods .goods-image img {
    max-width: 70%;
    max-height: 9rem;
}

.goods .goods-description {
    display: block;
    padding: 0.5rem;
    text-align: center;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .goods {
        width: 47%;
    }

    .goods:nth-child(n+3) {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .goods {
        width: 90%;
    }

    .goods:nth-child(n+2) {
        display: none;
    }
}